.hidden{
    display: none;
}

.cardHeader{
    margin-bottom: 20px;
}
 
.cardFooter{
    
    text-justify: end;
    margin-bottom: 10px;

}




.card:hover{
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33,33,33,0.6); 
}
