.nav {

    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 7vh;
    max-width: 20vw;
    max-height: 100vh;
    font-size: 30px;






}


.divider {
    border-bottom: solid black 5px;
    font-size: 49px;
    margin-left: 8vw;
    margin-top: 5vh;
    width: 20vw;
    
}
