
 @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poor+Story&family=Shadows+Into+Light&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono';
  
}



.bloc-logo {
  
  height: 100vh;
  outline: 6px solid black;
  outline-offset: -40px;
}
.bloc-logo canvas {
  height: 100vh;
  width: 100vw;
}

.logo-mask {
  margin: 0;
  display: flex; 
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  background-size: contain;
}

.bloc-logo .wrapper2 {
  display: flex;
  flex-wrap: wrap;

  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 70vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bloc-logo .wrapper2 .title {
  text-align: center;
  width: 100%;
  margin-bottom: 5vh;
  font-size: 36px;
}

.bloc-logo .wrapper2 .list {
  margin: 0;
  padding: 0;
}

.bloc-logo .mainBorder {
  display: flex;
}


.hidden{

  display: none;
  
  }

