
 @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poor+Story&family=Shadows+Into+Light&display=swap');

.wrapper {
  display: flex;
  font-family: 'Shadows Into Light';
  max-height: 100vh;
  min-width: 100vw;
  box-shadow: 1vh, 1vh, 1vh, 1vh;
}
