.qcontainer {
    width: 30%;
    height: 80%;
    /* perspective: 800px; */
  }
  
  .qcontainer:hover > .qcard {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .qcard {
    height: 80%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .qfront,
  .qback {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  }

  .qfront {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
    justify-content: center;
    align-self: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  
  .qback {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
